<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">Tourne</span>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/feeds" class="nav-link">Feed</a></li>
        <li class="nav-item">
        <% if current_user %>
            <%= link_to "Create a group", new_user_group_path(current_user.id), class: "nav-link" %>
        <%end%>
        </li>

        <% if current_user %>
        <li class="nav-item"><button class="btn btn-primary" >
        <a href="/users/<%= current_user.id %>"><%= current_user.firstname %></a>
        </li>
        <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
        <% else %>
        <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
        <%end%>
        
      </ul>
</header>