<nav class="nav nav-pills nav-justified">
  <%= link_to "Ask Question", new_user_question_path(current_user.id), class: "btn btn-success" %>
  <!--<a class="nav-link" href="#">Much longer nav link</a>-->
  <!--<a class="nav-link" href="#">Link</a>-->
</nav>
<hr>
<br>