<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <%= link_to "Friendships", user_friendships_path(params[:id]), class: "nav-link" %>
    <%= link_to "Q & A", questions_path, class: "nav-link" %>
  </div>
</nav>